!!! html
html(lang="en")
  head
    title BatmanExpress
    script(src="/batman/coffee-script.js", type="text/javascript")
    script(src="/batman/es5-shim.js",      type="text/javascript")
    script(src="/batman/dist/batman.js",   type="text/javascript")
    script(src="application.js",           type="text/javascript")
    link(rel="stylesheet", href="stylesheets/application.css")
  body
    div("data-yield"="main")
    script(type="text/javascript") BatmanExpress.run();
